/* .container {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .container {
    width: 50%;
  }
} */
