:root {
  --color-primary: #61dafb;
  --color-primary-button-hover: rgb(96, 217, 251, 0.1);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .container {
    width: 50%;
  }
}
