:root {
  --color-primary: #3f51b5;
  --color-primary-button-hover: rgb(63, 81, 181, 0.1);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
